<!DOCTYPE html>
<html lang='en'>

{{ partial "head.html" . }}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y"
  crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx"
  crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/auto-render.min.js" integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe"
  crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(document.getElementById("single-content"), {
      delimiters: [
        { left: "$$", right: "$$", display: true },
        { left: "\\[", right: "\\]", display: true },
        { left: "$", right: "$", display: false },
        { left: "\\(", right: "\\)", display: false }
      ]
    });
  });
</script>

<style>
  #single-content {
    margin-bottom: 10rem;
  }
  .main-title {
    font-size: 1.85rem;
  }
  img {
    max-width: 100%;
    display: block;
  }
  video {
    max-width: 100%;
    margin: auto;
    display: block;
  }
  code {
    overflow-y: scroll;
    max-width: 100%;
    display: block;
  }
  p>code {
    display: inline;
  }
</style>

<body>
  {{ partial "nav.html" (dict "TopTitle" .Site.Params.blogTitle) }}
  <div id="single-content">
    <h1 class="main-title">{{ .Title }}</h1>
    <code>{{ delimit .Params.tags ", " }}</code>
    <h3><em>{{ .Params.SubTitle }}</em></h3>
    {{ .Content }}
  </div>
</body>

</html>
