<!DOCTYPE html>
<html lang='en'>

{{ partial "head.html" . }}

<body>
  {{ partial "nav.html" (dict "TopTitle" "Nat McAleese") }}

  <content>
    <p>Hacker, life enthusiast. Recent Cambridge CS/MEng grad!</p>
    <p>
      Ask me about my work at
      <a href="http://www.yelp.com">Yelp</a>,
      <a href="http://www.tractable.io">Tractable</a>
      or
      <a href="http://www.five.ai">Five AI</a>.
    </p>
    <p>
      Get in touch at:
      <br>
      <img src="contact_email.png" alt="image of email">
      <br>
      (although I also have <a href=https://www.linkedin.com/in/nat-mcaleese-2440a076>linkedin </a>.) </p>
  </content>
</body>

</html>